<div class="tab attributes" data-group="primary" data-tab="attributes">
	<div class="grid-2-columns">
		{{> actor/character/parts/attribute-table }}
		{{> actor/character/parts/combat-data }}
	</div>
</div>
