<header class="item-header">
	<img
		data-edit="img"
		height="64"
		src="{{item.img}}"
		title="{{item.name}}"
		width="64"
	/>
	<h1 class="item-name">
		<input
			name="name"
			type="text"
			value="{{item.name}}"
			placeholder="{{localize 'ATOW.input_placeholder.name'}}"
		/>
	</h1>
</header>
