$columns: 6;

%grid-styles {
	@include p-reset;
	display: grid;
	row-gap: 4px;
	column-gap: 4px;
}

@mixin grid-x-columns {
	@for $i from 1 through $columns {
		.grid-#{$i}-columns {
			@extend %grid-styles;
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@mixin span-x-columns {
	@for $i from 1 through $columns {
		.span-#{$i}-columns {
			grid-column: span #{$i};
		}
	}
}

@include grid-x-columns;
@include span-x-columns;
