$columns: 6;

%grid-styles {
	@include p-reset;
	display: grid;
}

@mixin grid-x-columns {
	@for $i from 1 through $columns {
		.grid-#{$i}-columns {
			@extend %grid-styles;
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

@include grid-x-columns;
