$count: 5;

@mixin num-short-x {
	@for $i from 1 through $count {
		.num-short-#{$i} {
			max-width: #{$i}rem;
			text-align: center;
		}
	}
}

@include num-short-x;


// .num-short {
// 	&-1 {
// 		max-width: 1rem;
// 		text-align: center;
// 	}
// 	&-2 {
// 		max-width: 2rem;
// 		text-align: center;
// 	}
// 	&-3 {
// 		max-width: 3rem;
// 		text-align: center;
// 	}
// 	&-4 {
// 		max-width: 4rem;
// 		text-align: center;
// 	}
// 	&-5 {
// 		max-width: 5rem;
// 		text-align: center;
// 	}
// }
