@mixin green-display-text {
	font-family: $font-secondary;

	color: limegreen;
	text-shadow: green 1px 0 10px;
}

@mixin placeholder-text {
	font-family: $font-secondary;

	color: darkgray;
	text-shadow: gray 1px 0 10px;
}
