<header class="actor-header">
	<img
		data-edit="img"
		height="128"
		src="{{actor.img}}"
		title="{{actor.name}}"
		width="128"
	/>
	<h1 class="actor-name">
		<input
			name="name"
			type="text"
			value="{{actor.name}}"
			placeholder="{{localize 'ATOW.input_placeholder.name'}}"
		/>
	</h1>
</header>
