nav {
	@include content-box;
	display: flex;
	justify-content: space-evenly;
	height: min-content;
	line-height: 1.5em;

	a {
		@include display-text-dim;
		font-size: 1.2em;
		text-transform: uppercase;

		&.active {
			color: white;
			text-shadow: limegreen 1px 0 10px;
			text-decoration: underline;

			&:hover {
				@include display-text;
				color: white;
				text-shadow: limegreen 1px 0 10px;
			}
		}

		&:hover {
			@include display-text;
			text-decoration: underline;
		}
	}
}
