table,
thead {
	border: none;
	background: transparent;

	text-align: center;

	margin: 0;
}

tr {
	@include display-text;
	background: none;
	line-height: 0.8;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
		color: white;
		text-shadow: limegreen 1px 0 10px;
	}

	&:nth-child(even) {
		background-color: rgba(50, 205, 50, 0.05);
	}

	&:nth-child(even) {
		background-color: rgba(50, 205, 50, 0.05);
	}
}

td {
	margin: 0;
}

th {
	font-size: 1.1em;
}
