.window-content {
	font-family: $font-primary;
	background-image: url(../assets/ui/metal-texture.jpg);
	background-repeat: repeat;

	h1, h2, h3, h4, h5 {
		@include p-reset;
		@include display-text;

		border-bottom: 0;
	}

	img {
		border: none;
		max-width: 100%;
	}

	input {
		@include display-text;
		background: none;

		height: max-content;
		line-height: 1.2;

		padding: 2px;

		text-overflow: ellipsis;

		border: 1px dashed darkgreen;
		border-radius: 0.5rem;

		&:disabled {
			border: none;
		}

		&:focus {
			color: white;
			border: 1px solid green;
		}

		&::placeholder {
			@include placeholder-text;
		}
	}

	input[type="number"] {
		text-align: center;
	}

	label {
		font-weight: bold;
	}
}
